$pry_color: #42425d;
$sec_color: #001632;
$background: #f2f6fc;

@media (max-width: 800px,) {
  .layout {
    .header {
      padding: 0 20px 0 20px;
      display: flex;
      justify-content: space-between;
      .nav-center,
      .nav-right {
        display: none;
      }

      .mobile-nav {
        .hamburger-react {
          margin: 8px 0;
        }
        .mobile-nav-menu {
          position: absolute;
          top: 64px;
          left: 0px;
          width: 100%;
          height: calc(100vh - 64px);
          background-color: white;
          z-index: 12;
          ul {
            padding-right: 35px;
            text-align: end;
            li {
              list-style-type: none;
              line-height: 50px;
            }
          }
        }
      }
    }
    .content {
      position: relative;
      padding: 70px 2vw 20px 2vw;
      .banner-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        .banner-left {
          margin: 30px 20px;
          div {
            margin: 20px 5px;
          }
          .title {
            font-size: 40px;
            font-weight: 900;
            line-height: 1.1;
            color: $sec_color;
            text-transform: uppercase;
          }
          .desc {
            font-size: 18px;
          }
          .ant-btn-primary {
            background-color: #e61f5c;
            margin-right: 5px;
          }
        }
        .landing-image {
          max-width: 80vw;
          height: 280px;
        }
      }
    }
  }
  .ant-layout-header {
    color: unset;
    line-height: 64px;
  }
}

@media (min-width: 800px) {
  .layout {
    .header {
      padding: 0 8%;
      position: sticky;
      .nav-large {
        display: flex;
        justify-content: space-between;

        .nav-left {
          img {
            margin-bottom: 10px;
          }
        }

        .nav-right {
          ul {
            display: inline-flex;
            list-style-type: none;
            li {
              margin-right: 30px;
            }
          }
        }
      }
      .mobile-nav {
        display: none;
      }
    }

    .content {
      position: relative;
      padding: 0 80px;
      .banner-container {
        display: flex;
        flex-direction: row;
        .banner-left {
          width: 37vw;
          margin: 70px 20px;
          div {
            margin: 30px 5px;
          }
          .title {
            font-size: 45px;
            font-weight: 900;
            line-height: 1.2;
            color: $sec_color;
            text-transform: uppercase;
          }
          .desc {
            font-size: 16px;
            line-height: 1.5;
          }
          .ant-btn-primary {
            background-color: #e61f5c;
            margin-right: 10px;
          }
        }
        .banner-right {
          width: 50vw;
          margin: 50px 0px;
          text-align: end;
          .landing-image {
            height: auto;
            max-width: 35vw;
            width: auto;
          }
        }
      }
    }
  }
  .ant-layout-header {
    color: unset;
    line-height: 90px;
    height: 90px;
  }
}

@media (min-width: 1500px) {
  .layout {
    // .header {
    //   padding: 0 100px;
    // }
    .content {
      padding: 50px 70px;
    }
  }
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  transform: translateY(0);
  background-color: rgb(248, 248, 251);
}
.nav-left {
  display: flex;

  .app-name {
    font-weight: 900;
    font-size: 1.5rem;
    color: $pry_color;
  }

  img {
    width: 30px;
    margin-right: 10px;
  }
}

a {
  &:active {
    opacity: 0.4;
  }
}

.anticon svg {
  margin-right: 5px;
}

.ant-btn-primary {
  background-color: $pry_color;
  background: $pry_color;
  border: $pry_color;
  color: white;
  a {
    color: white;
  }

  &:visited {
    color: white;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $pry_color;
    border: $pry_color;
  }
}

.ant-layout-footer {
  background-color: white;
  text-align: center;
  color: $pry_color;
}

.ant-layout-content {
  overflow: initial;
}

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ant-btn {
  padding: 10px 30px;
  height: unset;
  border-radius: 200px;
  margin-top: 3px;
}

.ant-layout {
  background-color: unset;
}

.ant-btn-ghost {
  color: $pry_color;
  background-color: white;
  border-color: $pry_color;
  &:hover {
    border-color: $pry_color;
    color: white;
    background-color: $pry_color;
  }
}
