$pry_color: #185c9b;
$sec_color: #001529;
$background: #f2f6fc;

@media (max-width: 992px,) {
  .layout {
    .header {
      padding: 0 20px 0 20px;
      display: flex;
      justify-content: space-between;
      .nav-center,
      .nav-right {
        display: none;
      }

      .mobile-nav {
        .hamburger-react {
          margin: 8px 0;
        }
        .mobile-nav-menu {
          position: absolute;
          top: 64px;
          left: 0px;
          width: 100%;
          background-color: white;
          z-index: 12;
          ul {
            padding-right: 35px;
            text-align: end;
            li {
              list-style-type: none;
              line-height: 50px;
            }
          }
        }
      }
    }
    .content {
      position: relative;
      // padding: 80px 3vw;
      .banner-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        .banner-left {
          margin: 30px 20px;
          div {
            margin: 20px 5px;
          }
          .title {
            font-size: 43px;
            font-weight: 600;
            color: $sec_color;
          }
          .desc {
            font-size: 18px;
          }
        }
        .landing-image {
          max-width: 80vw;
          height: 280px;
        }
      }
    }
  }
}

@media (min-width: 993px) {
  .layout {
    .header {
      .nav-large {
        display: flex;
        justify-content: space-between;

        .nav-left {
          img {
            margin-bottom: 10px;
          }
        }

        .nav-right {
          ul {
            display: inline-flex;
            list-style-type: none;
            li {
              margin-right: 30px;
            }
          }
        }
      }
      .mobile-nav {
        display: none;
      }
    }

    .content {
      position: relative;
      padding: 30px 80px;
      .banner-container {
        display: flex;
        flex-direction: row;
        .banner-left {
          width: 37vw;
          margin: 100px 50px;
          div {
            margin: 30px 5px;
          }
          .title {
            font-size: 50px;
            font-weight: 600;
            color: $sec_color;
          }
          .desc {
            font-size: 16px;
          }
        }
        .banner-right {
          width: 50vw;
          margin: 50px 0px;
          text-align: end;
          .landing-image {
            height: auto;
            max-width: 35vw;
            width: auto;
          }
        }
      }
    }
  }
}

@media (min-width: 1500px) {
  .layout {
    .header {
      padding: 0 100px;
    }
    .content {
      padding: 50px 70px;
    }
  }
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  transform: translateY(0);
  background-color: white;
  border-bottom: 1px solid #dfe2e7;
}
.nav-left {
  display: flex;

  .app-name {
    font-weight: 700;
    font-size: 1.4rem;
    color: $sec_color;
  }

  img {
    width: 30px;
    margin-right: 10px;
  }
}

a {
  &:active {
    opacity: 40%;
  }
}

.anticon svg {
  margin-right: 5px;
}

.ant-btn-primary {
  background-color: $pry_color;
  border: $pry_color;
  color: white;
  a {
    color: white;
  }

  &:visited {
    color: white;
  }

  &:hover {
    background-color: $pry_color;
    border: $pry_color;
  }
}

.ant-layout-footer {
  background-color: white;
  text-align: center;
}

.ant-layout-content {
  margin: 64px 16px;
  overflow: initial;
}

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
