$pry_color: #42425d;
$sec_color: #001632;

@media (max-width: 800px,) {
  .page-container {
    display: block;
    .page-left {
      padding: 10px 30px;
      background-color: #16161d;
      color: white;
      a {
        color: inherit;
      }
      div {
        margin: 10px 0;
      }
      .title {
        display: flex;
        justify-content: flex-start;
        .app-name {
          font-weight: 700;
          font-size: 1.2rem;
          color: #e61f5c;
          vertical-align: middle;
        }
      }
      .desc,
      .detail {
        display: none;
      }
    }
    .page-right {
      padding: 30px;
      .ant-form-item-required,
      .ant-form-item-label {
        display: none;
      }
      .already {
        a {
          color: #017aff;
        }
      }
    }
  }
}

@media (min-width: 800px) {
  .page-container {
    display: flex;
    width: 100%;
    .page-left {
      width: 30vw;
      background-color: #16161d;
      color: white;
      height: 100vh;
      padding: 20vh 30px;
      a {
        color: inherit;
      }
      div {
        margin: 28px 0;
      }
      .title {
        display: flex;
        .app-name {
          font-weight: 700;
          font-size: 1.2rem;
          color: #e61f5c;
          vertical-align: middle;
        }
      }
      .desc {
        font-size: 1.5rem;
      }
      .detail {
        opacity: 0.6;
      }
    }
    .page-right {
      display: inline-block;
      padding: 0 20vw 0 5vw;
      max-height: 100vh;
      margin-top: auto;
      margin-bottom: auto;
      width: 70vw;
      .form-container .register {
        min-width: 600px;
      }
      &.login {
        padding: 0 26vw 0 17vw;
      }
      .already {
        position: absolute;
        bottom: 5%;
        right: 35%;
        text-align: center;
        a {
          color: #017aff;
        }
      }
      .ant-form-item-required {
        color: $pry_color;
      }
    }
  }
}

.login-form-button {
  margin-right: 5px;
}
