@media (max-width: 992px,) {
  .large-container {
    display: none;
  }

  .small-container {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: white;

    .ant-layout-header.small {
      background-color: white;
      padding: 0 20px;
      border-bottom: 1px solid #4a51572f;
      z-index: 10;
      height: 8vh;
    }

    .dashboard {
      div {
        overflow: scroll;
        max-height: 84vh;
      }
    }

    .mobile-nav {
      position: fixed;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      bottom: 0;
      border-top: 1px solid #4a51572f;
      height: 8vh;
      z-index: 20;
      color: rgb(105, 102, 102);

      .active {
        color: #017aff;
      }
      .mobile-nav-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        font-size: 10px;

        .anticon svg {
          height: 18px;
          width: 18px;
          margin-right: 0;
        }

        span {
          margin-top: 3px;
        }
      }
    }
  }

  //other styles
  #tab-bar.demo {
    display: flex;
    flex-direction: column;
  }
  #tab-bar .demoName {
    height: 40px;
  }
  #tab-bar .demo-preview-item .am-tab-bar {
    background-color: white;
  }
}

@media (min-width: 993px,) {
  .small-container {
    display: none;
  }

  .sidebar {
    background-color: lightcoral;
  }

  .sidebar.main {
    background-color: lightseagreen;
  }

  #components-layout-demo-side .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }

  .site-layout .site-layout-background {
    background: #fff;
    padding: 24px;
    text-align: center;
  }

  .ant-layout-sider {
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
  }

  .ant-layout-header.dashboard {
    position: fixed;
    height: 9vh;
    top: 0;
    width: 100vw;
    border-bottom: 2vh solid #f0f2f5;
  }

  .ant-layout-content.dashboard {
    margin: 64px 16px 16px 16px;
    overflow: scroll;
    height: 89vh;
    background-color: white;
    text-align: center;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
