$pry_color: #42425d;
$sec_color: #001632;

@media (max-width: 992px) {
  .large-container {
    display: none;
  }

  .small-container {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: white;

    .ant-layout-header.small {
      background-color: white;
      padding: 0 15px;
      border-bottom: 1px solid #4a51572f;
      z-index: 10;
      height: 8vh;
      align-items: center;
      line-height: normal;
      display: flex;
      justify-content: space-between;
      font-size: 18px;
    }

    .dashboard {
      div {
        overflow: scroll;
        max-height: 84vh;
        padding: 8px 6px;
        .search-bar {
          padding: 0 20px;
        }
        .title {
          font-size: 120%;
          padding-bottom: 15px;
          text-align: center;
        }
      }
    }

    .mobile-nav {
      position: fixed;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      bottom: 0;
      border-top: 1px solid #4a51572f;
      height: 8vh;
      z-index: 20;
      color: rgb(105, 102, 102);
      a {
        color: unset;
      }
      .active {
        color: #185c9b;
      }
      .mobile-nav-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        font-size: 10px;

        .anticon svg {
          height: 18px;
          width: 18px;
          margin-right: 0;
        }

        span {
          margin-top: 3px;
        }
      }
    }
  }

  //other styles
  #tab-bar.demo {
    display: flex;
    flex-direction: column;
  }
  #tab-bar .demoName {
    height: 40px;
  }
  #tab-bar .demo-preview-item .am-tab-bar {
    background-color: white;
  }
}

@media (min-width: 992px,) {
  .small-container {
    display: none;
  }

  .ant-layout-has-sider {
    min-width: 100vw;
    min-height: 100vh;

    #components-layout-demo-side .logo {
      height: 32px;
      background: rgba(255, 255, 255, 0.2);
      margin: 16px;
    }

    .site-layout .site-layout-background {
      background: white;
    }

    .ant-layout-sider {
      overflow: auto;
      height: 100vh;
      position: fixed;
      background: #16161d;
      left: 0;
      z-index: 3;

      .ant-menu .ant-menu-item-selected {
        background-color: $pry_color !important;
        // border-radius: 20px;
      }
      .ant-menu.ant-menu-dark {
        background: #16161d;
      }

      .logo {
        font-weight: 900;
        font-size: 1.5rem;
        color: #e61f5c;
        margin: 10px 0 10px 22px;
        &:hover {
          cursor: pointer;
        }
        &:active {
          opacity: 0.7;
        }
        a {
          color: unset;
        }
      }
      // .ant-menu-dark.ant-menu-inline .ant-menu-item,
      // .ant-menu-dark.ant-menu-inline .ant-menu-submenu-title {
      //   width: 100%;
      //   border-radius: 20px;
      // }
    }

    // .ant-layout-sider-children {
    //   padding-top: 49px;
    // }

    .ant-layout-header.dashboard {
      align-items: center;
      height: 64px;
      padding: 0 33px;
      line-height: inherit;
      border-bottom: 1px solid #f0f2f5;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 16px;

      .header-left {
        font-size: 21px;
        font-weight: 600;
      }
      .header-right {
        font-size: 26px;
      }
    }

    .ant-layout-content.dashboard {
      margin: 16px;
      overflow: scroll;
      width: auto;
      background-color: white;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }

      .dashboard-content {
        padding: 20px;

        .search-bar {
          padding: 20px 0;
          text-align: center;
          padding: 20px 20vw;
        }
        .title {
          font-size: 120%;
          font-weight: 600;
          padding-bottom: 25px;
        }
      }
    }
  }
}
